<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="about.css">
  <title>Fresh Water Feed</title>
</head>

<body class="about">
  <div class="feed">
    <div class="ourTeam">
      <h2>Our Team</h2>
      <br>
        <table>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Languages (for this project)</th>
          </tr>
          <tr>
            <td>Joseph</td>
            <td>Front End</td>
            <td>HTML/CSS</td>
          </tr>
          <tr>
            <td>Sam</td>
            <td>Front End</td>
            <td>HTML/CSS</td>
          </tr>
          <tr>
            <td>Jared</td>
            <td>Back End</td>
            <td>Ruby</td>
          </tr>
          <tr>
            <td>Scott</td>
            <td>Database/API</td>
            <td>C#</td>
          </tr>
        </table>
    </div>
        <br>
        <br>

      <h2>Our Project</h2>
        <br>
        <div class="container">
          <p>This project came into fruition from a 24 hour event in Salt Lake City, UT called "Fishackathon 2018".</p>
          <p>'Fresh Water Feed' allows users and ecologists to view conditions of waterways (lakes and rivers). Users of the app can search for a specific lake or river, or they can search, generally, for waterways that are in an area by zipcode. After this, one will see information that has been submitted by others via a feed. This feed will have specifics on the conditions in the waterway. The 'Report' page allows one to be able to input specifics about the waterway where one is located. This information is broken down into three categories namely: Environmental Conditions, Biological Conditions, and Social Conditions.</p>
          <p><strong>We hope that you enjoy our project. We will be updating the page, as we are able to, so come back frequently!</strong></p>
        </div>


      
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
