<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fresh Water Feed</title>
</head>

<body class="about">

  <div class="container">
  <div class="jumbotron" id="colorFish" style="margin-bottom:10px"></div>
  </div>

  <div class="feed">
    <div class="ourTeam">
      <div class="container">
      <h2 id="topSection">Our Team</h2>
      </div>
      <br>
        <table>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Languages (for this project)</th>
          </tr>
          <tr>
            <td>Joseph</td>
            <td>Front End</td>
            <td>HTML/CSS</td>
          </tr>
          <tr>
            <td>Sam</td>
            <td>Front End</td>
            <td>HTML/CSS</td>
          </tr>
          <tr>
            <td>Jared</td>
            <td>Back End</td>
            <td>Ruby</td>
          </tr>
          <tr>
            <td>Scott</td>
            <td>Database/API</td>
            <td>C#</td>
          </tr>
        </table>
    </div>
        <br>
        <br>

    <div class="container">
      <h2>Our Project</h2>
        <br>
          <p>This project came into fruition from a 24 hour event in Salt Lake City, UT called "Fishackathon 2018".</p>
          <p>'Fresh Water Feed' allows users and ecologists to view conditions of waterways (lakes and rivers). Users of the app can search for a specific lake or river, or they can search, generally, for waterways that are in an area by zipcode. After this, one will see information that has been submitted by others via a feed. This feed will have specifics on the conditions in the waterway. The 'Report' page allows one to be able to input specifics about the waterway where one is located. This information is broken down into three categories namely: Environmental Conditions, Biological Conditions, and Social Conditions.</p>
          <br>
          <p></p>
          <p><strong>We hope that you enjoy our project. We will be updating the page, as we are able to, so come back frequently!</strong></p>
        </div>
        <br>

          <div class="container">
          <h2>Future updates</h2>
          <br>
          <p>Soon, we will be adding many new features to this project. Here are some of our ideas:</p>
          <ul>
            <li>Including a way for users to upload photos of conditions or specific issues that they witness</li>
            <li>Including a point system for those that create accounts. This will allow others to trust information from certain sources due to their points from answering questions on the forms more often.</li>
            <li>We would like to connect our current database with the ones from different States. This would allow us to generate even more valuable information about waterways for those that frequent them.</li>
          </ul>
          </div>

          <br>

    <div class="container">
    <h2>Sign Up</h2>
    </div>
    <h5>The why and how to sign up.</h5>
    <div class="container">
      <p>Let's start with why you might want to sign up for an account here on Fresh Water Feed. As of right now, the functionality that we'd like to introduce is not there. Having said that, this will hold your place in our database for future updates.</p>
      <p>After we do a few updates, there will be a point system wherein one will receive points for submissions on the "Report" page. This will allow other users to see if another user is a more reliable source for information. As we update the functionality, we can also implement a subscription service via email about your favorite locations. <strong>Stay tuned!</strong></p>
    </div>
      
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
