.jumbotron {
    background-image: url("twoFish.jpg");
    background-size: auto 100%;
    height: 300px;
    margin-top: 60px;
}

legend {
    background: #43BAB6;
    height: 38px;
    margin-bottom: 0;
}

.form-horizontal .control-label {
    text-align: left;
}