<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="jumbotron" id="no-border"></div>
    </div>

    <%= form_for(:report, url: env_reports_path) do |f| %>
    
    <div class="container">
        	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Environmental Conditions</legend>
</div>
<br>
<div class="container">
<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="env">Water Quality</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="algaeblooms">
      <input type="checkbox" name="algaeblooms" id="algaeblooms" value="1">
      Algae Blooms
    </label>
	</div>
  <div class="checkbox">
    <label for="surfacescum">
      <input type="checkbox" name="surfacescum" id="surfacescum" value="2">
      Surface Scum
    </label>
	</div>
  <div class="checkbox">
    <label for="garbageBuildup">
      <input type="checkbox" name="garbageBuildup" id="garbageBuildup" value="3">
      Garbage Buildup
    </label>
	</div>
  <div class="checkbox">
    <label for="visiblePollutants">
      <input type="checkbox" name="visiblePollutants" id="visiblePollutants" value="4">
      Visible Pollutants
    </label>
	</div>
  <div class="checkbox">
    <label for="sulfurSmells">
      <input type="checkbox" name="sulfurSmells" id="sulfurSmells" value="5">
      Sulfur Based Smells
    </label>
	</div>
  <div class="checkbox">
    <label for="otherSmells">
      <input type="checkbox" name="otherSmells" id="otherSmells" value="6">
      Other Smells
    </label>
	</div>
  </div>
</div>
    </div>
    <br>
    <div id="middleButtons" class="container">
        <div class="text-center">
            <button class="btn btn-dark" id="submitButton" type="submit">Submit</button>
            <button class="btn btn-dark" id="Clear" type="submit">Clear Form</button>
        </div>
    </div>
    <% end %>
    
    <%= form_for(:report, url: bio_reports_path) do |f| %>
    
    <br>
    
    <div class="container">
        <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Biological Conditions</legend>
<br>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="windSpeed">Wind Speed</label>  
  <div class="col-md-2">
  <input id="windSpeed" name="windSpeed" type="text" placeholder="66° F" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="waveAction">Wave Action</label>
  <div class="col-md-4">
    <select id="waveAction min-height" name="waveAction" class="form-control" style="height: 34px">
      <option value="1">Calm</option>
      <option value="2">Choppy</option>
      <option value="3">Hazardous</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="watertemp">Water Temperature</label>  
  <div class="col-md-2">
  <input id="watertemp" name="watertemp" type="text" placeholder="66° F" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pHBalance">pH Balance</label>  
  <div class="col-md-2">
  <input id="pHBalance" name="pHBalance" type="text" placeholder="7.7 pH" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="iceThickness">Ice Thickness</label>  
  <div class="col-md-4">
  <input id="iceThickness" name="iceThickness" type="text" placeholder="3 inches" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="iceQuality">Ice Quality</label>
  <div class="col-md-4">
    <select id="iceQuality" name="iceQuality" class="form-control" style="height: 34px">
      <option value="1">Poor</option>
      <option value="2">Normal</option>
      <option value="3">Excellent</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Fishtypes">Fish</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="Fishtypes-0">
      <input type="checkbox" name="Fishtypes" id="Fishtypes-0" value="1">
      Fish Kill
    </label>
	</div>
  <div class="checkbox">
    <label for="Fishtypes-1">
      <input type="checkbox" name="Fishtypes" id="Fishtypes-1" value="2">
      Fish Disease
    </label>
	</div>
  <div class="checkbox">
    <label for="Fishtypes-2">
      <input type="checkbox" name="Fishtypes" id="Fishtypes-2" value="3">
      Invasive Species
    </label>
	</div>
  </div>
</div>
</div>
<div class="container">
<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="imageUpload">Upload Image</label>
  <div class="col-md-4">
    <input id="imageUpload" name="imageUpload" class="input-file" type="file">
  </div>
</div>

</fieldset>
</form>
</div>
    </div>

            <br>

            <div class="container">
                <div class="text-center">
                    <button class="btn btn-dark" type="submit">Submit</button>
                    <button class="btn btn-dark" type="submit">Clear Form</button>
                        <!--</form>-->
                </div>
            </div>
    <br>
    <% end %>
    

    
    <%= form_for(:report, url: soc_reports_path) do |f| %>
    
    <div class="container">
         <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Social Conditions</legend>
</div>
<br>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label id="latrine" class="col-md-4 control-label" for="bathrooms">Bathrooms</label>
  <div class="col-md-4">
    <select id="bathrooms" name="bathrooms" class="form-control" style="height: 34px">
      <option value="1">Open</option>
      <option value="2">Closed</option>
      <option value="3">Absent</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="rampQuality">Ramp Quality</label>
  <div class="col-md-4">
    <select id="rampQuality" name="rampQuality" class="form-control" multiple="multiple">
      <option value="1">Poor</option>
      <option value="2">Normal</option>
      <option value="3">Excellent</option>
      <option value="4">In Need of Repair</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="rampTraffic">Ramp Traffic</label>
  <div class="col-md-4">
    <select id="rampTraffic" name="rampTraffic" class="form-control" style="height: 34px">
      <option value="1">Light</option>
      <option value="2">Medium</option>
      <option value="3">Heavy</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="dockQuality">Docks</label>
  <div class="col-md-4">
    <select id="dockQuality" name="dockQuality" class="form-control" multiple="multiple" style="height:100px">
      <option value="1">Poor</option>
      <option value="2">Normal</option>
      <option value="3">Excellent</option>
      <option value="4">In Need of Repair</option>
      <option value="5">Crowded</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="noOfBoats">Number of Boats</label>  
  <div class="col-md-4">
  <input id="noOfBoats" name="noOfBoats" type="text" placeholder="Educated Guess" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="boatTraffic">Boat Traffic</label>
  <div class="col-md-4">
    <select id="boatTraffic" name="boatTraffic" class="form-control" style="height: 34px">
      <option value="1">Light</option>
      <option value="2">Medium</option>
      <option value="3">Heavy</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="noOfPeople">Number of People</label>  
  <div class="col-md-4">
  <input id="noOfPeople" name="noOfPeople" type="text" placeholder="Educated Guess" class="form-control input-md">
    
  </div>
</div>
</div>
<div class="container">
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="beachCrowd">Beach Crowd</label>
  <div class="col-md-4">
    <select id="beachCrowd" name="beachCrowd" class="form-control" style="height: 34px">
      <option value="1">Light</option>
      <option value="2">Medium</option>
      <option value="3">Heavy</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="badCompany">Bad/Illegal Activities</label>
  <div class="col-md-4">
    <select id="badCompany" name="badCompany" class="form-control" multiple="multiple" style="height:66px">
      <option value="1">Poaching</option>
      <option value="2">Bad Boating Behavior</option>
      <option value="3">Illegal Activities</option>
    </select>
  </div>
</div>
</div>
<div class="container">
<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="summaryText">Summary Text</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="summaryText" name="summaryText">Additional details here</textarea>
  </div>
</div>
</fieldset>
</form>

    </div>
            <div class="container">
                <div class="text-center">
                  <br>
                    <button class="btn btn-dark" type="submit">Submit</button>
                    <button class="btn btn-dark" type="submit">Clear Form</button>
                        <!--</form>-->
                    <br>
                    <br>
                </div>
            </div>
    
    <% end %>
    
    <script src="http://code.jquery.com/jquery-3.3.1.js " integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin=" anonymous "></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>
</body>

</html>