<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="survey.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron"></div>
    </div>


    <div class="container">
        <div id="environmentalconditions">
            <h3>Environmental Conditions</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div id="env1" class="col-md-3">
                <input type="checkbox" name="algaeBlooms"> Algae Blooms</input><br>
                <input class="bT1" type="checkbox" name="surfaceScum" value="present"> Surface Scum</input><br>
                <input class="bT1" type="checkbox" name="garbageBuildup" value="present"> Garbage Buildup</input><br>
            </div>

            <div id="env2" class="col-md-3">
                <input class="bT1" type="checkbox" name="visiblePolutants" value="present"> Visibile Polutants</input><br>
                <input class="bT1" type="checkbox" name="sulferSmells" value="present"> Sulfer Based Smells</input><br>
                <input class="bT1" type="checkbox" name="otherSmells" value="present"> Other Smells</input>
            </div>
        </div>
        <br>
        <div class="col-md-3"></div>
        <div class="col-md-3 col-md-offset-2">
            <button class="" id="submitButton" type="submit">Submit</button>
            <button class="" id="Clear" type="submit">Clear Form</button>
        </div>
    </div>

    <br>

    <div class="container">
        <div id="biologicalconditions">
            <h3>Biological Conditions</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class "col-md-3">
                <div class="text">
                    <label>Water Temp:
                <input class="text"></input></label>
                    <label id="windSpeed" class="text windSpeed">Wind Speed:
                      <input class="wS1" type="text" name="windSpeed" value=""></input>
                    </label>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div id="goon" class="row">
                <div class="col-md-2"></div>
                <div class="radio radio-inline col-md-3">
                    <input class="radio wA1" type="radio" name="waveAction" value="Calm"> Calm waves</input>
                </div>
                <div class="radio radio-inline col-md-3">
                    <input class="radio wA2" type="radio" name="waveAction" value="Choppy"> Choppy waves</input>
                </div>
                <div class="radio radio-inline col-md-3">
                    <input class="radio wA3" type="radio" name="waveAction" value="Hazardous"> Hazardous waves</input>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class "col-md-3">
                    <div class="text">
                        <label>pH Value:
                  <input class="text"></input></label>
                        <label id="iceThickness" class="text iceThickness">Ice Thickness:
                    <input class="wS1" type="text" name="iceThickness" value=""></input>
                  </label>
                    </div>
                </div>
            </div>
            <br>

            <div class="container">
                <div id="goon" class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">

                        <div class='radio'>
                            <input id="crazy" class="radio" type="radio" name="iceQuality"> <span>ice: Poor</span></input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="iceQuality"> Ice: Normal</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="iceQuality"> Ice: Excellent</input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='radio'>
                            <input class="radio" type="radio" name="rampQuality"> Ramp: Poor</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="rampQuality"> Ramp: Normal</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="rampQuality"> Ramp: Excellent</input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='radio'>
                            <input class="radio" type="radio" name="docksQuality"> Docks: Open</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="docksQuality"> Docks: Closed</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="docksQuality"> Docks: Absent</input>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='radio'>
                            <input class="radio" type="radio" name="bathroom"> Bath: Open</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="bathroom"> Bath: Closed</input>
                        </div>
                        <div class='radio'>
                            <input class="radio" type="radio" name="bathroom"> Bath: Absent</input>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fishKill"> Fish Kill</input>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="fishDisease"> Fish Disease</input>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="invasive"> Invasive Species</input>
                        </label>
                    </div>
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <form action="upload.php" method="post" enctype="multipart/form-data">
                            Select image to upload:
                            <input type="file" name="fileToUpload" id="fileToUpload">
                            <input type="submit" value="Upload Image" name="submit">
                            <button class="" type="submit">Submit</button>
                            <button class="" type="submit">Clear Form</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Don't mess with code above this line! -->

    <div class="container">
        <div id="socialconditions">
            <h3>Social Conditions</h3>
        </div>
        <div class "col-lg-4">
            <label>Number of People: 
              <input type="text" name="noOfPeople" placeholder="Enter a number"></input>
            </label>

            <label>Number of Boats: 
              <input type="text" name="windSpeed" value=""></input>
            </label>

            <div class="container">
                <div id="goon" class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <label>Boat Traffic: </label>
                        <div class='radio'>
                            <input class="radio" type="radio" name="boatTraffic" value="light "></input>Light
                        </div>
                        <div class='radio'>
                            <input class="radio bTA2 " type="radio" name="boatTraffic" value="medium "> Medium</input>
                        </div>
                        <div class='radio'>
                            <input class="radio bTA3 " type="radio" name="boatTraffic" value="heavy "> Heavy</input>
                        </div>
                    </div>



                    <div class='col-md-2'>
                        <label class="beachCrowd ">Beach Crowd: </label>
                        <div class='radio'>
                            <input class="radio bC1 " type="radio" name="beachCrowd " value="light "> Light</input>
                        </div>
                        <div class='radio'>
                            <input class="radio bC2 " type="radio" name="beachCrowd " value="medium "> Medium</input>
                        </div>
                        <div class='radio'>
                            <input class="radio bC3 " type="radio" name="beachCrowd " value="heavy "> Heavy</input>
                        </div>
                    </div>


                    <div class='col-md-2'>
                        <label class="boatRTraffic ">Boat Ramp Traffic: </label>
                        <div class='radio'>
                            <input class="radio bRT1 " type="radio" name="boatRTraffic " value="light "> Light</input>
                        </div>
                        <div class='radio'>
                            <input class="radio bRT2 " type="radio" name="boatRTraffic " value="medium "> Medium</input>
                        </div>
                        <div class='radio'>
                            <input class="radio bRT3 " type="radio" name="boatRTraffic " value="heavy "> Heavy</input>
                        </div>
                    </div>


                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="poaching " value="present "> Poaching</input>
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" name="illegalActivities " value="present "> Illegal Activities</input>
                        </label>
                        <label class="checkbox-inline">
                          <input type="checkbox" name="badBehaviour " value="present "> Bad Boating Behaviour</input>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 col-md-offset-2">
                <button class="" id="submitButton" type="submit">Submit</button>
                <button class="" id="Clear" type="submit">Clear Form</button>
            </div>
        </div>

      </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.js " integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin=" anonymous "></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js " integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa " crossorigin="anonymous "></script>
</body>

</html>